<div class='container text-center'>
    <h1>About</h1>
    <p> We're DevMatch. Our company focuses on creating an exclusive community for 
    developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga veniam aspernatur nulla a ex cum quos deserunt eaque earum laudantium repellat ipsa tempore amet itaque, quibusdam atque fugit debitis, nemo!
    </p>
</div>